body{
    font-family: system-ui;
}
.content{
    text-align: center;
    margin: auto;
    width: 375px;
    transform: translateY(100px);
}
.title{
    background-color: rgb(235, 28, 28);
    padding: 15px;
    font-size: 25px;
    color: #fff;
}
.title span{
    color: rgb(0, 4, 255);
}
.square{
    width: 120px;
    height: 120px;
    background-color: rgb(196, 32, 32);
    float: left;
    margin: 2px;
    font-size: 80px;
    font-weight: bold;
    color: #fff;
}
.square:hover{
    background-color: black;
    cursor: pointer;
    
}